<div class="fundo">
	<div class="signup_container">
		<h1 class="title">log in</h1>
		<%= form_tag sessions_path do %>
		<p class="area">
			<div class="label"><%= label_tag :email%></div><br />
			<%= text_field_tag :email, params[:email], class: 'textfield' %>
		</p>
		<p class="area">
			<div class="label"><%= label_tag :password %><div><br />
			<%= password_field_tag :password, params[:password], class: 'textfield' %>
		</p>
		<p ><%= submit_tag "log in" %></p>
		<% end %>
		<%= link_to "Don't have an account?", sign_up_path, class: 'logsign' %>
	</div>
</div>