<div class="fundo">
	<div class="signup_container">
		<h1 class="title">sign up</h1>

		<%= form_for @user do |f| %>
			<p class="area">
				<%= f.label :email, class: 'label' %><br />
				<%= f.text_field :email, class: 'textfield' %>
			</p>	
			<p class="area">
				<%= f.label :password, class: 'label'%><br />
				<%= f.password_field :password, class: 'textfield' %>
			</p>	
			<p class="area">
				<%= f.label :password_confirmation, class: 'label' %><br />
				<%= f.password_field :password_confirmarion, class: 'textfield' %>
			</p>	
			<p><%= f.submit "sign up"%></p>
		<% end %>

			    <%= link_to "Already have an account?", log_in_path, class: 'logsign' %>

	</div>
</div>