<h1>Create a tab</h1>

<%= form_for @tab do |f| %>
  <p>
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<%= link_to "Go back", tabs_path %>
