<ul>
  <% @tabs.each do |tab| %>
    <li><%= link_to tab.titulo, tab_path(tab.id) %></li>


    <%= form_for tab do |f2| %>
      <%= hidden_field :tab, :id, value: tab.id %>
      <%= f2.text_field :titulo%>
      <%= f2.submit "Update" %>
    <% end %>

 
  <% end %>
</ul>
<div>
<%= form_for @new do |f| %>
  <%= f.label :titulo %>
  <%= f.text_field :titulo %>
  <%= f.submit "create" %>
<% end %>
  </div>





<p><%= @tab.titulo %></p>

<ul>
  <% @checklists.each do |checklist| %>
    <li>
      <%= link_to "x", checklist_path(checklist.id), method: :delete %>
      <%= link_to checklist.title, checklist_path(checklist.id) %>
    </li>
  <% end %>
</ul>

<h3>Create a checklist</h3>
<%= form_for @checklist do |f| %>
  <%= hidden_field :checklist, :tab_id, value: @tab.id %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Create" %>
<% end %>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= link_to "x", note_path(note.id), method: :delete %>
      <%= note.title%>
      <p> <%= note.description%><p>
    </li>

  <% end %>
</ul>

<h3>Create a note</h3>
<%= form_for @note do |f| %>
  <%= hidden_field :note, :tab_id, value: @tab.id %>

  <%= f.label :title%>
  <%= f.text_field :title%>
   <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Create" %>
<% end %>


<h3>Share this tab with a user</h3>
<%= form_for @share do |f| %>
  <%= hidden_field :share, :tab_id, value: @tab.id %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Share" %>
<% end %>

<%= link_to "Go back", tabs_path %>
