
<div class="body">
  <div class="col-md-2">
    <ul id="lista_tabs">
      <% @tabs.each do |tab| %>
        <li class="tabs">
          <%= link_to tab.titulo, tab_path(tab.id) %>
          <%= image_tag "edit.svg", alt: "edit", class: "edita", onclick: "$('.tab#{tab.id}').css('display', 'block')" %>
          <%= link_to "x", tab_path(tab.id), method: :delete , class: 'x'%>
        </li>
        <div class="update <%= "tab#{tab.id}" %>">
        <%= form_for tab do |f2| %>
          <%= hidden_field :tab, :id, value: tab.id %>
          <%= f2.text_field :titulo, class: 'texto'%>
          <%= f2.submit " ", class: 'bot' %>
        <% end %>
        </div>
      <% end %>
    </ul>

  <!--------------------------------------------------CRIAR NOVA TAB------------------------------------------------------------------>  
  <div id="line"></div>
  
  <div id='ct'>
    <%= form_for @new do |f| %>
      <%= f.text_field :titulo %>
      <%= f.submit "create" , class: 'create'%>
    <% end %>
  </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" id= "new">new tab</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new tab</h4>
          </div>
          <%= form_for @new do |f| %>
            <div class="modal-body">
              <%= f.text_field :titulo , class: 'texto'%>
            </div>
            <div class="modal-footer">
              <%= f.submit "create" , class: 'create btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <!--------------------------------------------------FIM   CRIAR NOVA TAB------------------------------------------------------------------> 


<!-- Button trigger modal -->
<p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1" id= "share">share</button></p>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Share this tab with user</h4>
          </div>
          <%= form_for @share do |f| %>
          <%= hidden_field :share, :tab_id, value: @tab.id %>
            <div class="modal-body">
              <%= f.text_field :email,  class: 'texto' %>
            </div>
            <div class="modal-footer">
               <%= f.submit "Share", class: 'share btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <div id="line"></div>
    <p class="belongs">This tab belongs to:</p>
    <ul>
      <% @users.each do |user| %>
        <li class="pessoa">
          <%= user.email %>
        </li>
      <% end %>
    </ul>

    
  </div>

  <!--------------------------------------------------INTERIOR (CHECKS, NOTES, POINTS)------------------------------------------------------------------> 

  <div class="col-md-10">
    <p class="titulo"><%= @tab.titulo %></p>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" id="titC">Checklists</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Notes</a></li>
        <li role="presentation"><a href="#pointlist" aria-controls="messages" role="tab" data-toggle="tab">Pointlist</a></li>
      </ul>
<!--------------------------------------------------CHECKS------------------------------------------------------------------> 
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          
    
          <ul>
            <ul>
              <% @checklists.each do |checklist| %>
                <li class="lista">
                  <span class= "nomeC">
                  <%= checklist.title%></span>
                  <%= image_tag "edit.svg", alt: "edit", class: "edita", onclick: "$('.checklist#{checklist.id}\').css('display', 'block')" %>
                  <%= link_to "x", checklist_path(checklist.id), method: :delete, class: 'x' %>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" id= "inn">+</button>
                </li>
                <div class="update <%= "checklist#{checklist.id}" %>">
                  <%= form_for checklist do |f16| %>
                    <%= hidden_field :checklist, :id, value: checklist.id %>
                    <%= f16.text_field :title, class: 'texto2' %>
                    <%= f16.submit "", class: 'bot2' %>
                  <% end %>
                </div>

                <%# Form para criar um item na checklist %>
                
                  <!-- Button trigger modal -->
    

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new item</h4>
          </div>
           <%= form_for @checklist_item do |f4| %>
           <%= hidden_field :checklist_item, :checklist_id, value: checklist.id %>
            <div class="modal-body">
              <%= f4.text_area :description, class: 'texto'%>
            </div>
            <div class="modal-footer">
              <%= f4.submit "Create", class: 'create btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
            <ul>
                  <%# Apresentação de cada item de uma checklist %>
                  <% if !@checklist_items[checklist.id].nil? %>
                    <% @checklist_items[checklist.id].each do |item| %>
                      <li class="item">
                      <%= form_for item do |f3| %>
                      <span class="coco">
                      <%= f3.text_field :description, class: 'texto3' %>
                      <%= f3.check_box :state, class: 'checkbox' %>
                      </span>
                      <%#= image_tag "edit.svg", alt: "edit", class: "edita", onclick: "$('.checklist_item#{item.id}').css('display', 'block')" %>
                      <%= hidden_field :checklist_item, :id, value: item.id %>
                      <%= hidden_field :checklist_item, :checklist_id, value: item.checklist_id %>
                      <%= f3.submit "", class: 'bot3' %>
                      <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </ul>

          </ul>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3" id= "in">new checklist</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new checklist</h4>
          </div>
           <%= form_for @checklist do |f| %>
              <%= hidden_field :checklist, :tab_id, value: @tab.id %>
            <div class="modal-body">
              <%= f.text_field :title, class: 'texto'%>
            </div>
            <div class="modal-footer">
              <%= f.submit "Create", class: 'create btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
<!-------------------------------------------------- NOTES, ------------------------------------------------------------------> 
        <div role="tabpanel" class="tab-pane" id="profile">
          <ul>
            <% @notes.each do |note| %>
              <li class="check">
                <%= form_for note do |f15| %>
                  <%= hidden_field :note, :tab_id, value: @tab.id %>
                  <%= hidden_field :note, :id, value: note.id %>
                  <%= f15.text_field :title, class: 'titnote'  %>
                  <%= link_to "x", note_path(note.id), method: :delete, class: 'x' %>
                  <%= f15.submit "", class: 'bot3' %>
                  <%= f15.text_area :description, class: 'textonote' %>
                <% end %>
              </li>
                <% end %>
              </ul>
              
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal4" id= "in">new note</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create a new note</h4>
          </div>
           <div class="modal-body">
           <%= form_for @note do |f| %>
            <%= hidden_field :note, :tab_id, value: @tab.id %>
            <%= f.label :title%>
            <%= f.text_field :title, calss: 'texto6'%>
            <%= f.label :description %>
            <%= f.text_area :description, calss: 'texto6' %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Create", class: 'create btn btn-default'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------POINTS------------------------------------------------------------------>           
            <div role="tabpanel" class="tab-pane" id="pointlist">
              <ul>
                <% @pointlists.each do |pointlist| %>
                  <li>
                    <%= pointlist.title %>
                    <%= link_to "x", pointlist_path(pointlist.id), method: :delete %>
  
                    <%= form_for @pointlist_item do |f6| %>
                      <%= hidden_field :pointlist_item, :level, value: 0 %>
                      <%= hidden_field :pointlist_item, :parent_id, value: -1 %>
                      <%= hidden_field :pointlist_item, :pointlist_id, value: pointlist.id %>

                      <%= f6.text_field :title %>
                      <%= f6.submit "Create" %>
                    <% end %>
                    <% if !@pointlist_items.nil? %>
                      <% if !@pointlist_items[pointlist.id].nil? && !@pointlist_items[pointlist.id][1].nil? %>
                        <% initial = @pointlist_items[pointlist.id][1][-1] %>
                        <ul>
                          <% initial.each do |point| %>
                            <li><%= point.title %></li>
                            <%= form_for @pointlist_item do |f8| %>
                              <%= hidden_field :pointlist_item, :level, value: point.level %>
                              <%= hidden_field :pointlist_item, :parent_id, value: point.id %>
                              <%= hidden_field :pointlist_item, :pointlist_id, value: pointlist.id %>

                              <%= f8.text_field :title %>
                              <%= f8.submit "Create" %>
                            <% end %>
                            <%= render partial: 'tabs/pointlist', locals: {parent_item: point} %>
                          <% end %>
                        </ul>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>              

              <h3>Create a pointlist</h3>
              <%= form_for @pointlist do |f5| %>
                <%= hidden_field :pointlist, :tab_id, value: @tab.id %>

                <%= f5.label :title %>
                <%= f5.text_field :title %>
                <%= f5.submit "Create" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!--------------------------------------------------FIM           INTERIOR (CHECKS, NOTES, POINTS)------------------------------------------------------------------>


  </div>
<script>
  function resizeInput() {
    $(this).attr('size', $(this).val().length);
}

$('input[type="text"]')
    // event handler
    .keyup(resizeInput)
    // resize on page load
    .each(resizeInput);
  </script>
