<h1><%= @checklist.title %></h1>

<h3>Create an item</h3>
<%= form_for @checklist_item do |f| %>
  <%= hidden_field :checklist_item, :checklist_id, value: @checklist.id %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Create" %>
<% end %>

<ul>
  <% @checklist_items.each do |item| %>
    <li>
      <p>
        <%= link_to "x", checklist_item_path(item.id), method: :delete %>
        <%= item.state %>: <%= item.description %></p>

      <%= form_for item do |f2| %>
        <%= hidden_field :checklist_item, :id, value: item.id %>
        <%= hidden_field :checklist_item, :checklist_id, value: item.checklist_id %>
        <%= f2.text_field :description %>
        <%= f2.check_box :state %>
        <%= f2.submit "Update" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Go back", tab_path(@checklist.tab_id) %>
